In [34]:
### Imports necesarios
import pyodbc #odbc para sqlserver
import time #librería necesaria para medir el tiempo de ejecución 
import datetime
import pandas as pd
import numpy as np
from functools import reduce

# Carga de datos en MySQL
from sqlalchemy import create_engine
import pymysql
import os

user = os.environ['chcprocuser']
passw = os.environ['chcprocpass']
server = os.environ['chcprocserver']
db = os.environ['chcprocdb']

# Inicio del "cronómetro"
tInicio = time.time()

# Apertura la conexión a SQL SERVER
cnxn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER='+server+';DATABASE='+db+';UID='+user+';PWD='+passw)

# Apertura la conexión a MYSQL
engine = create_engine('mysql+pymysql://server:server@192.168.2.2:3306/espaciopublico', echo = False)



cursor = cnxn.cursor()

# Envío de las querys y lectura de los resultados
# Tabla 1
sqlOrganismo_Licitacion_Ofertas = '''
SELECT rbhEnterprise, rbhCode, rbhOwnerCity,rbhExternalCode, year(FEC.rbdOpeningDate) AS 'Year_Publicacion', count(DISTINCT bidOrganization) AS 'N_Ofertas' 
INTO #Organismo_Licitacion_Ofertas
FROM DCCPProcurement.dbo.prcRFBHeader AS LC
INNER JOIN [DCCPProcurement].[dbo].[prcBIDQuote] AS OFE
ON rbhCode=bidRFBCode
INNER JOIN DCCPProcurement.dbo.prcRFBDate AS FEC
ON LC.rbhCode = FEC.rbdRFBCode
WHERE [rbhEnterprise]<>''
AND year(FEC.rbdOpeningDate)>=2012 AND year(FEC.rbdOpeningDate)<=2020
AND rbhDocumentStatus>=5 
AND bidDocumentStatus IN (3, 4, 5) 
GROUP BY rbhEnterprise, rbhCode, rbhExternalCode, year(FEC.rbdOpeningDate),rbhOwnerCity
ORDER BY rbhEnterprise
'''

cursor.execute(sqlOrganismo_Licitacion_Ofertas) 

# Tabla 2
sqlOrganismo_Proveedor_Ofertas = '''
SELECT rbhEnterprise,year(FEC.rbdOpeningDate) AS 'Year_Publicacion', bidOrganization, count(DISTINCT rbhCode) AS 'N_Ofertas_Proveedor' 
INTO #Organismo_Proveedor_Ofertas
FROM DCCPProcurement.dbo.prcRFBHeader AS LC
INNER JOIN [DCCPProcurement].[dbo].[prcBIDQuote] AS OFE
ON rbhCode=bidRFBCode
INNER JOIN DCCPProcurement.dbo.prcRFBDate AS FEC
ON LC.rbhCode = FEC.rbdRFBCode
WHERE [rbhEnterprise]<>''
AND year(FEC.rbdOpeningDate)>=2012 AND year(FEC.rbdOpeningDate)<=2020
AND rbhDocumentStatus>=5 
AND bidDocumentStatus IN (3, 4, 5) 
GROUP BY rbhEnterprise, bidOrganization,year(FEC.rbdOpeningDate)
ORDER BY rbhEnterprise, count(DISTINCT rbhCode)
'''

cursor.execute(sqlOrganismo_Proveedor_Ofertas) 

# Tabla 3
sqlOrganismo_Proveedor_Ganadores = '''
SELECT rbhEnterprise,year(FEC.rbdOpeningDate) AS 'Year_Publicacion', bidOrganization, count(DISTINCT rbhCode) AS 'N_Ganadores_Proveedor' 
INTO #Organismo_Proveedor_Ganadores
FROM DCCPProcurement.dbo.prcRFBHeader AS LC
INNER JOIN [DCCPProcurement].[dbo].[prcBIDQuote] AS OFE
ON rbhCode=bidRFBCode
INNER JOIN DCCPProcurement.dbo.prcRFBDate AS FEC
ON LC.rbhCode = FEC.rbdRFBCode
WHERE [rbhEnterprise]<>''
AND year(FEC.rbdOpeningDate)>=2012 AND year(FEC.rbdOpeningDate)<=2020
AND rbhDocumentStatus>=5 
AND bidDocumentStatus IN (3, 4, 5) 
AND [bidIsAwarded]=1
GROUP BY rbhEnterprise, bidOrganization,year(FEC.rbdOpeningDate)
ORDER BY rbhEnterprise, count(DISTINCT bidOrganization)
'''

cursor.execute(sqlOrganismo_Proveedor_Ganadores) 

# Tabla 4
sqlLicitaciones_Fechas = '''
SELECT DISTINCT rbhEnterprise, rbhCode, rbhExternalCode, rbhProcessSubType, rpsAbbreviationCode, FEC.rbdOpeningDate,FEC.rbdTechnicalBidReception, year(FEC.rbdOpeningDate) AS 'Year_Publicacion', DATEDIFF(DAY,FEC.rbdOpeningDate,FEC.rbdTechnicalBidReception) 'dias'
INTO #Licitaciones_Fechas
FROM DCCPProcurement.dbo.prcRFBHeader AS LC
INNER JOIN [DCCPProcurement].[dbo].[prcBIDQuote] AS OFE
ON rbhCode=bidRFBCode
INNER JOIN DCCPProcurement.dbo.prcRFBDate AS FEC
ON LC.rbhCode = FEC.rbdRFBCode 
LEFT JOIN [DCCPProcurement].[dbo].[prcRFBProcessSubType]
ON rbhProcessSubType=rpsCode
WHERE [rbhEnterprise]<>''
AND year(FEC.rbdOpeningDate)>=2012 AND year(FEC.rbdOpeningDate)<=2020
AND rbhDocumentStatus>=5 
AND bidDocumentStatus IN (3, 4, 5)
'''

cursor.execute(sqlLicitaciones_Fechas)

# Tabla 5
sqlOrganismo_Ganadores_Licitacion = '''
SELECT rbhEnterprise, rbhCode, rbhExternalCode, year(FEC.rbdOpeningDate) AS 'Year_Publicacion' , count(DISTINCT bidOrganization) AS 'N_Ganadores_Licitacion'
INTO #Organismo_Ganadores_Licitacion
FROM DCCPProcurement.dbo.prcRFBHeader AS LC
INNER JOIN [DCCPProcurement].[dbo].[prcBIDQuote] AS OFE
ON rbhCode=bidRFBCode
INNER JOIN DCCPProcurement.dbo.prcRFBDate AS FEC
ON LC.rbhCode = FEC.rbdRFBCode
WHERE [rbhEnterprise]<>''
AND year(FEC.rbdOpeningDate)>=2012 AND year(FEC.rbdOpeningDate)<=2020
AND rbhDocumentStatus>=5 
AND bidDocumentStatus IN (3, 4, 5) 
AND [bidIsAwarded]=1
GROUP BY rbhEnterprise, rbhCode, rbhExternalCode, year(FEC.rbdOpeningDate)
ORDER BY rbhEnterprise
'''

cursor.execute(sqlOrganismo_Ganadores_Licitacion)

# Tabla 6
sqlAdjuntos_Licitacion = '''
SELECT DISTINCT rbhEnterprise, rbhCode,year(FEC.rbdOpeningDate) AS 'Year_Publicacion',
COUNT(DISTINCT CASE WHEN AT.[atcIsActive]=1 AND ((AT.atcSourceFileName LIKE '%bases%') or (AT.atcDescription LIKE '%bases%')) then 1 ELSE NULL END) 'bases_licitacion', --
COUNT(DISTINCT CASE WHEN AT.[atcIsActive]=1 AND (((AT.atcSourceFileName LIKE '%seleccion%') OR (AT.atcDescription LIKE '%seleccion%')) OR ((AT.atcSourceFileName LIKE '%evaluacion%') OR (AT.atcDescription LIKE '%evaluacion%')) OR (((AT.atcSourceFileName LIKE '%acta%') and (AT.atcSourceFileName LIKE '%eval%')) or ((AT.atcSourceFileName LIKE '%acta%') and (AT.atcSourceFileName LIKE '%eval%'))) OR (((AT.atcSourceFileName LIKE '%cuadro%') and (atcSourceFileName LIKE '%eval%')) or ((atcSourceFileName LIKE '%cuadro%') and (atcSourceFileName LIKE '%eval%'))) OR (((atcSourceFileName LIKE '%cuadro%') and (atcSourceFileName LIKE '%comp%')) or ((atcSourceFileName LIKE '%cuadro%') and (atcSourceFileName LIKE '%comp%'))))  then 1 ELSE NULL END) 'acta_evaluacion',
COUNT(DISTINCT CASE WHEN AT.[atcIsActive]=1 AND (((AT.atcSourceFileName LIKE '%resol%') OR (AT.atcDescription LIKE '%resol%')) OR ((AT.atcSourceFileName LIKE '%adjudica%') OR (AT.atcDescription LIKE '%adjudica%')) OR (((AT.atcSourceFileName LIKE '%res%') and (AT.atcSourceFileName LIKE '%adj%')) or ((AT.atcSourceFileName LIKE '%res%') and (AT.atcSourceFileName LIKE '%adj%'))) OR (((AT.atcSourceFileName LIKE '%decre%') and (atcSourceFileName LIKE '%adj%')) or ((atcSourceFileName LIKE '%decre%') and (atcSourceFileName LIKE '%adj%')))) then 1 ELSE NULL END) 'resolucion_adjudicacion'
INTO #Adjuntos_Licitacion
FROM DCCPProcurement.dbo.prcRFBHeader AS LC
INNER JOIN [DCCPProcurement].[dbo].[prcBIDQuote] AS OFE
ON rbhCode=bidRFBCode
INNER JOIN DCCPProcurement.dbo.prcRFBDate AS FEC
ON LC.rbhCode = FEC.rbdRFBCode
LEFT JOIN DCCPPlatform.dbo.gblAttachment AS AT 
ON LC.rbhCode = AT.actDocumentNumber
WHERE [rbhEnterprise]<>''
AND year(FEC.rbdOpeningDate)>=2012 AND year(FEC.rbdOpeningDate)<=2020
AND rbhDocumentStatus>=5 
AND bidDocumentStatus IN (3, 4, 5) 
GROUP BY LC.rbhEnterprise, LC.rbhCode,year(FEC.rbdOpeningDate) 
ORDER BY LC.rbhEnterprise, rbhCode
'''

cursor.execute(sqlAdjuntos_Licitacion)

#Las siguientes tablas no son accesibles por el momento por eso estan comentadas
# Tabla 7
#sqlLicitaciones_Preguntas = '''
#SELECT DISTINCT rbhEnterprise, rbhCode, rbhExternalCode, year(FEC.rbdOpeningDate) AS 'Year_Publicacion', 
#CASE WHEN ([biqID] IS NULL AND A.[Id] IS NULL) THEN 'Sin Preguntas'
#ELSE 'Con Preguntas' END AS 'Preguntas',
#[biqID],
#CASE WHEN ([biqText] IS NOT NULL OR [biqText]<>'') AND ([rswText] IS NULL OR [rswText]='') THEN 1
#ELSE 0 END AS 'No_Responde_Preguntas',
#A.[Id] AS 'ID_Pregunta',
#CASE WHEN (A.TextoForo IS NOT NULL OR cast(A.TextoForo as nvarchar(max))<>'') AND (B.TextoForo IS NULL OR cast(B.TextoForo as nvarchar(max))='') THEN 1
#ELSE 0 END AS 'No_Responde_Preguntas_2',
#[biqText] AS [biqText], [rswText] AS [rswText],  --DISTINCT en la organization es por si se hizo más de una oferta. Por ejemplo: 2712-91-LE12.
#cast(A.TextoForo as nvarchar(max)) AS TextoForo_PRO, cast(B.TextoForo as nvarchar(max)) AS TextoForo_COM
#INTO #Licitaciones_Preguntas
#FROM DCCPProcurement.dbo.prcRFBHeader AS LC
#INNER JOIN [DCCPProcurement].[dbo].[prcBIDQuote] AS OFE
#ON rbhCode=bidRFBCode
#INNER JOIN DCCPProcurement.dbo.prcRFBDate AS FEC
#ON LC.rbhCode = FEC.rbdRFBCode
#LEFT JOIN [DCCPProcurement].[dbo].[prcBIDQuestion] AS PRE
#ON LC.rbhCode = [biqRFBCode]
#LEFT JOIN [DCCPProcurement].[dbo].[prcRFBAnswer] AS RES
#ON [biqRFBCode]=[rswRFBCode] AND [biqID]=[rswbiqID]
#LEFT JOIN [DCCPForo].[dbo].[ForoLicitacionProveedor] AS A
#ON LC.rbhCode = A.[LicitacionId]
#LEFT JOIN [DCCPForo].[dbo].[ForoLicitacionComprador] AS B
#ON A.[Id]=B.[ForoLicitacionProveedorId]
#WHERE [rbhEnterprise]<>''
#AND year(FEC.rbdOpeningDate)>=2012 AND year(FEC.rbdOpeningDate)<=2018
#AND rbhDocumentStatus>=5 
#AND bidDocumentStatus IN (3, 4, 5) 
#ORDER BY rbhEnterprise, rbhExternalCode
#'''

#cursor.execute(sqlLicitaciones_Preguntas)

# Competencia. 
## 1) Porcentaje de licitaciones públicas y privadas con un único oferente.

In [35]:
#Leemos los datos necesarios
sqlAux1 = '''
SELECT Year_Publicacion, rbhEnterprise, count(rbhExternalCode) 'N_Total_Licitaciones'
FROM #Organismo_Licitacion_Ofertas
GROUP BY rbhEnterprise, Year_Publicacion
ORDER BY rbhEnterprise, Year_Publicacion
'''
aux1 = pd.read_sql(sqlAux1, cnxn)

#N° de Ofertas con 1 Oferente
sqlAux2 = '''
SELECT Year_Publicacion, rbhEnterprise, count(rbhExternalCode) 'N_Licitaciones_1_Oferente'
FROM #Organismo_Licitacion_Ofertas
WHERE N_Ofertas=1
GROUP BY rbhEnterprise, Year_Publicacion
ORDER BY rbhEnterprise, Year_Publicacion
'''
aux2 = pd.read_sql(sqlAux2, cnxn)

#manejo de missing
#aux2['N_Licitaciones_1_Oferente'] = aux2['N_Licitaciones_1_Oferente'].fillna(0)
#aux1['N_Total_Licitaciones'] = aux1['N_Total_Licitaciones'].fillna(0)

ind1 = aux1.merge(aux2, how = 'inner', left_on = ['Year_Publicacion', 'rbhEnterprise'], right_on = ['Year_Publicacion', 'rbhEnterprise'])
ind1['porc'] = round(ind1['N_Licitaciones_1_Oferente']/ ind1['N_Total_Licitaciones']*100, 1)


# guardamos en la tabla
engine = create_engine('mysql+pymysql://server:server@192.168.2.2:3306/espaciopublico', echo = False)
ind1.to_sql(con=engine, name='indicador1', if_exists='replace', index=False)

## 2) Promedio de participantes por procedimiento.

In [36]:
#Leemos los datos necesarios
sqlInd2 = '''
SELECT rbhEnterprise, Year_Publicacion, avg(N_Ofertas) AS 'Promedio_Ofertas'
FROM #Organismo_Licitacion_Ofertas
GROUP BY rbhEnterprise, Year_Publicacion
ORDER BY rbhEnterprise, Year_Publicacion
'''
ind2 = pd.read_sql(sqlInd2, cnxn)

# guardamos en la tabla
ind2.to_sql(con=engine, name='indicador2', if_exists='replace', index=False)

## 12) Índice de participación.

In [37]:
#Leemos los datos necesarios
sqlInd12_1 = '''
SELECT rbhEnterprise,Year_Publicacion,
max(N_Ofertas_Proveedor) AS 'Max_Ofertas'
FROM #Organismo_Proveedor_Ofertas
GROUP BY rbhEnterprise,Year_Publicacion
'''
ind12_1 = pd.read_sql(sqlInd12_1, cnxn)

sqlInd12_2 = '''
SELECT rbhEnterprise,Year_Publicacion,
sum(100*N_Ofertas_Proveedor) AS 'Total_Ofertas'
FROM #Organismo_Proveedor_Ofertas
GROUP BY rbhEnterprise, Year_Publicacion
'''
ind12_2 = pd.read_sql(sqlInd12_2, cnxn)

ind12 = ind12_1.merge(ind12_2, how = 'inner', left_on = ['Year_Publicacion', 'rbhEnterprise'], right_on = ['Year_Publicacion', 'rbhEnterprise'])
ind12['porc'] = round(ind12['Max_Ofertas']/ ind12['Total_Ofertas']*100, 3)

# guardamos en la tabla
ind12.to_sql(con=engine, name='indicador12', if_exists='replace', index=False)

## 13) Número de participantes distintos entre todos los procedimientos.

In [38]:
#Leemos los datos necesarios
sqlInd13 = '''
SELECT rbhEnterprise,Year_Publicacion,
count(N_Ofertas_Proveedor) AS 'N_Participantes'
FROM #Organismo_Proveedor_Ofertas
GROUP BY rbhEnterprise, Year_Publicacion
'''
ind13 = pd.read_sql(sqlInd13, cnxn)

# guardamos en la tabla
ind13.to_sql(con=engine, name='indicador13', if_exists='replace', index=False)

## 16) Ratio de participación y adjudicación en licitaciones públicas y privadas.

In [39]:
#Leemos los datos necesarios
sqlInd16_1 = '''
SELECT rbhEnterprise,Year_Publicacion,
count(N_Ofertas_Proveedor) AS 'N_Participantes'
FROM #Organismo_Proveedor_Ofertas
GROUP BY rbhEnterprise,Year_Publicacion
'''
ind16_1 = pd.read_sql(sqlInd16_1, cnxn)

sqlInd16_2 = '''
SELECT rbhEnterprise,Year_Publicacion,
count(N_Ganadores_Proveedor) AS 'N_Ganadores_Proveedor'
FROM #Organismo_Proveedor_Ganadores
GROUP BY rbhEnterprise,Year_Publicacion
'''
ind16_2 = pd.read_sql(sqlInd16_2, cnxn)

#ind16_2['N_Ganadores_Proveedor'] = ind16_2['N_Ganadores_Proveedor'].fillna(0)

ind16 = ind16_1.merge(ind16_2, how = 'inner', left_on = ['rbhEnterprise', 'Year_Publicacion'], right_on = ['rbhEnterprise', 'Year_Publicacion'])
ind16['porc'] = round(ind16['N_Participantes']/ind16['N_Ganadores_Proveedor'], 2)

# guardamos en la tabla
ind16.to_sql(con=engine, name='indicador16', if_exists='replace', index=False)

## 19) Porcentaje de licitaciones públicas y privadas con varias adjudicaciones.

In [40]:
#Leemos los datos necesarios
sqlInd19_1 = '''
SELECT Year_Publicacion, rbhEnterprise, count(rbhExternalCode) 'N_Total_Licitaciones'
FROM #Organismo_Licitacion_Ofertas
GROUP BY rbhEnterprise,Year_Publicacion
'''
ind19_1 = pd.read_sql(sqlInd19_1, cnxn)

sqlInd19_2 = '''
SELECT Year_Publicacion, rbhEnterprise, count(rbhExternalCode) 'N_Licitaciones_Varios_Ganadores'
FROM #Organismo_Ganadores_Licitacion
WHERE N_Ganadores_Licitacion>1
GROUP BY rbhEnterprise,Year_Publicacion
'''
ind19_2 = pd.read_sql(sqlInd19_2, cnxn)

#ind19_2['N_Licitaciones_Varios_Ganadores'] = ind19_2['N_Licitaciones_Varios_Ganadores'].fillna(0)

ind19 = ind19_1.merge(ind19_2, how = 'inner', left_on = ['rbhEnterprise', 'Year_Publicacion'], right_on = ['rbhEnterprise', 'Year_Publicacion'])
ind19['porc'] = round(ind19['N_Licitaciones_Varios_Ganadores']/ind19['N_Total_Licitaciones'] * 100, 2)

# guardamos en la tabla
ind19.to_sql(con=engine, name='indicador19', if_exists='replace', index=False)

## 20) Porcentaje de las licitaciones mayores o iguales a 100 UTM y menores a 10000 UTM cuyo plazo de oferta fue menor al plazo mínimo establecido por la ley de compras púbicas.

In [41]:
#Indicador de licitaciones LE y CO que dieron menos de 5 días o 10 días
# Tabla temporal
sqlTablaTemporal = '''
SELECT rbhEnterprise, rbhCode, rbhExternalCode, rpsAbbreviationCode, dias, Year_Publicacion,
CASE WHEN (dias-5)<0 THEN 1
ELSE 0 END AS 'Menos_Plazo_5',
CASE WHEN 0<=(dias-5) AND (dias-10)<0 THEN 1
ELSE 0 END AS 'Menos_Plazo_10'
INTO #Licitaciones_Fechas_Indicador_5y10_Acel
FROM #Licitaciones_Fechas
WHERE rpsAbbreviationCode='LE' OR rpsAbbreviationCode='CO'
'''
cursor.execute(sqlTablaTemporal)

In [42]:
#Porcentaje de licitaciones LE y CO que dieron menos de 5 días o 10 días
sqlInd20 = '''
SELECT rbhEnterprise,Year_Publicacion, sum(Menos_Plazo_10) AS 'N_Licitaciones_Menos5', count(Menos_Plazo_10) 'N_Licitaciones',
100*sum(Menos_Plazo_10)/count(Menos_Plazo_10) AS 'Porc_Lic_Acel_10'
FROM #Licitaciones_Fechas_Indicador_5y10_Acel
WHERE rpsAbbreviationCode='LE' OR rpsAbbreviationCode='CO'
GROUP BY rbhEnterprise,Year_Publicacion
ORDER BY rbhEnterprise,Year_Publicacion
'''
ind20 = pd.read_sql(sqlInd20, cnxn)

# guardamos en la tabla
ind20.to_sql(con=engine, name='indicador20', if_exists='replace', index=False)

## 21) Porcentaje de las licitaciones mayores o iguales a 10000 UTM y menores a 5.000 UTM cuyo plazo de oferta fue acelerado.

In [43]:
#Indicador de licitaciones LE y CO que dieron menos de 5 días o 10 días
# Tabla temporal
sqlTablaTemporal = '''
SELECT rbhEnterprise, rbhCode, rbhExternalCode, rpsAbbreviationCode, dias,Year_Publicacion, 
CASE WHEN (dias-10)<0 THEN 1
ELSE 0 END AS 'Menos_Plazo_10',
CASE WHEN 0<=(dias-10) AND (dias-20)<0 THEN 1
ELSE 0 END AS 'Menos_Plazo_20'
INTO #Licitaciones_Fechas_Indicador_10y20_Acel
FROM #Licitaciones_Fechas
WHERE rpsAbbreviationCode='LP' OR rpsAbbreviationCode='LQ' OR rpsAbbreviationCode='B2' OR rpsAbbreviationCode='H2'
'''
cursor.execute(sqlTablaTemporal)

In [44]:
#Porcentaje de licitaciones LP, LQ, B2 y H2 que dieron menos de 10 días o 20 días
sqlInd21 = '''
SELECT rbhEnterprise,Year_Publicacion, sum(Menos_Plazo_20) AS 'N_Licitaciones_Menos20', count(Menos_Plazo_20) 'N_Licitaciones',
100*sum(Menos_Plazo_20)/count(Menos_Plazo_20) AS 'Porc_MenosPlazo_20'
FROM #Licitaciones_Fechas_Indicador_10y20_Acel
WHERE rpsAbbreviationCode='LP' OR rpsAbbreviationCode='LQ' OR rpsAbbreviationCode='B2' OR rpsAbbreviationCode='H2'
GROUP BY Year_Publicacion,rbhEnterprise
ORDER BY rbhEnterprise
'''
ind21 = pd.read_sql(sqlInd21, cnxn)

# guardamos en la tabla
ind21.to_sql(con=engine, name='indicador21', if_exists='replace', index=False)

## 22) Porcentaje de licitaciones sin bases de licitación.

In [45]:
sqlInd22 = '''
SELECT rbhEnterprise,Year_Publicacion, 
count(rbhEnterprise) 'licitaciones', 
sum(bases_licitacion*1.0)/count(rbhEnterprise) 'Porc_Publica_Bases'
FROM #Adjuntos_Licitacion 
GROUP BY rbhEnterprise,Year_Publicacion 
ORDER BY rbhEnterprise
'''
ind22 = pd.read_sql(sqlInd22, cnxn)

# guardamos en la tabla
ind22.to_sql(con=engine, name='indicador22', if_exists='replace', index=False)

## 24) Porcentaje de procedimientos sin acta de evaluación.

In [46]:
sqlInd24 = '''
SELECT rbhEnterprise,Year_Publicacion, 
count(rbhEnterprise) 'licitaciones',
sum(acta_evaluacion)*100/count(rbhEnterprise) 'Porc_Publica_Acta_Evaluacion'
FROM #Adjuntos_Licitacion 
GROUP BY rbhEnterprise ,Year_Publicacion
ORDER BY rbhEnterprise
'''
ind24 = pd.read_sql(sqlInd24, cnxn)

# guardamos en la tabla
ind24.to_sql(con=engine, name='indicador24', if_exists='replace', index=False)

## 25) Porcentaje de procedimientos sin resolución de adjudicación.

In [47]:
sqlInd25 = '''
SELECT rbhEnterprise ,Year_Publicacion, 
count(rbhEnterprise) 'licitaciones', 
sum(resolucion_adjudicacion)*100/count(rbhEnterprise) 'Porc_Publica_Resolucion_Adjudicacion' 
FROM #Adjuntos_Licitacion 
GROUP BY rbhEnterprise ,Year_Publicacion
ORDER BY rbhEnterprise
'''
ind25 = pd.read_sql(sqlInd25, cnxn)

# guardamos en la tabla
ind25.to_sql(con=engine, name='indicador25', if_exists='replace', index=False)

## 29) Porcentaje de las licitaciones menores a 100 UTM cuyo plazo de oferta fue menor al plazo mínimo. establecido por la ley de compras públicas.

In [48]:
#Indicador de licitaciones L1 y E2 que dieron menos de 5 días
# Tabla temporal
sqlTablaTemporal = '''
SELECT rbhEnterprise, rbhCode, rbhExternalCode, rpsAbbreviationCode, dias,Year_Publicacion, 
CASE WHEN (dias-5)<0 THEN 1
ELSE 0 END AS 'Menos_Plazo'
INTO #Licitaciones_Fechas_Indicador_5
FROM #Licitaciones_Fechas
WHERE (rpsAbbreviationCode='L1' OR rpsAbbreviationCode='E2')
'''
cursor.execute(sqlTablaTemporal)

In [49]:
#Porcentaje de licitaciones L1 y E2 que dieron menos de 5 días
sqlInd29 = '''
SELECT rbhEnterprise,Year_Publicacion, sum(Menos_Plazo) AS 'N_Licitaciones_MenosPlazo', count(Menos_Plazo) 'N_Licitaciones',
100*sum(Menos_Plazo)/count(Menos_Plazo) AS 'Porc_MenosPlazo_5'
FROM #Licitaciones_Fechas_Indicador_5
WHERE rpsAbbreviationCode='L1' OR rpsAbbreviationCode='E2'
GROUP BY rbhEnterprise,Year_Publicacion
ORDER BY rbhEnterprise,Year_Publicacion
'''
ind29 = pd.read_sql(sqlInd29, cnxn)

# guardamos en la tabla
ind29.to_sql(con=engine, name='indicador29', if_exists='replace', index=False)

## 30) Porcentaje de las licitaciones mayores o iguales a 100 UTM y menores a 10000 UTM cuyo plazo de oferta fue menor al plazo mínimo establecido por la ley de compras públicas.

In [50]:
#Indicador de licitaciones LE y CO que dieron menos de 5 días o 10 días
# Tabla temporal
sqlTablaTemporal = '''
SELECT rbhEnterprise, rbhCode, rbhExternalCode, rpsAbbreviationCode,Year_Publicacion, dias, 
CASE WHEN (dias-5)<0 THEN 1
ELSE 0 END AS 'Menos_Plazo_5',
CASE WHEN 0<=(dias-5) AND (dias-10)<0 THEN 1
ELSE 0 END AS 'Menos_Plazo_10'
INTO #Licitaciones_Fechas_Indicador_5y10
FROM #Licitaciones_Fechas
WHERE rpsAbbreviationCode='LE' OR rpsAbbreviationCode='CO'
'''
cursor.execute(sqlTablaTemporal)

In [51]:
#Porcentaje de licitaciones LE y CO que dieron menos de 5 días o 10 días
sqlInd30 = '''
SELECT rbhEnterprise,Year_Publicacion, sum(Menos_Plazo_5) AS 'N_Licitaciones_Menos5', count(Menos_Plazo_5) 'N_Licitaciones',
100*sum(Menos_Plazo_5)/count(Menos_Plazo_5) AS 'Porc_MenosPlazo_10'
FROM #Licitaciones_Fechas_Indicador_5y10
WHERE rpsAbbreviationCode='LE' OR rpsAbbreviationCode='CO'
GROUP BY rbhEnterprise, Year_Publicacion
ORDER BY rbhEnterprise, Year_Publicacion
'''
ind30 = pd.read_sql(sqlInd30, cnxn)

# guardamos en la tabla
ind30.to_sql(con=engine, name='indicador30', if_exists='replace', index=False)

## 31) Porcentaje de licitaciones cuyo plazo fue menor a 10 días y a 20 días.

In [52]:
#Indicador de licitaciones LP, LQ, B2 y H2 que dieron menos de 10 días o 20 días
# Tabla temporal
sqlTablaTemporal = '''
SELECT rbhEnterprise, rbhCode, rbhExternalCode, rpsAbbreviationCode, dias,Year_Publicacion,
CASE WHEN (dias-10)<0 THEN 1
ELSE 0 END AS 'Menos_Plazo_10',
CASE WHEN 0<=(dias-10) AND (dias-20)<0 THEN 1
ELSE 0 END AS 'Menos_Plazo_20'
INTO #Licitaciones_Fechas_Indicador_10y20
FROM #Licitaciones_Fechas
WHERE rpsAbbreviationCode='LP' OR rpsAbbreviationCode='LQ' OR rpsAbbreviationCode='B2' OR rpsAbbreviationCode='H2'
'''
cursor.execute(sqlTablaTemporal)

In [53]:
#Porcentaje de licitaciones LE y CO que dieron menos de 5 días o 10 días
sqlInd31 = '''
SELECT rbhEnterprise,Year_Publicacion, sum(Menos_Plazo_10) AS 'N_Licitaciones_Menos10', count(Menos_Plazo_10) 'N_Licitaciones',
100*sum(Menos_Plazo_10)/count(Menos_Plazo_10) AS 'Porc_MenosPlazo_20'
FROM #Licitaciones_Fechas_Indicador_10y20
WHERE rpsAbbreviationCode='LP' OR rpsAbbreviationCode='LQ' OR rpsAbbreviationCode='B2' OR rpsAbbreviationCode='H2'
GROUP BY Year_Publicacion,rbhEnterprise
ORDER BY Year_Publicacion,rbhEnterprise
'''
ind31 = pd.read_sql(sqlInd31, cnxn)

# guardamos en la tabla
ind31.to_sql(con=engine, name='indicador31', if_exists='replace', index=False)

## 32) Porcentaje de licitaciones cuyo plazo fue menor a 30 días.

In [54]:
#Indicador de licitaciones LP, LQ, B2 y H2 que dieron menos de 30 días
# Tabla temporal
sqlTablaTemporal = '''
SELECT rbhEnterprise, rbhCode, rbhExternalCode, rpsAbbreviationCode,Year_Publicacion, dias, 
CASE WHEN (dias-30)<0 THEN 1
ELSE 0 END AS 'Menos_Plazo_30'
INTO #Licitaciones_Fechas_Indicador_30
FROM #Licitaciones_Fechas
WHERE rpsAbbreviationCode='LR' OR rpsAbbreviationCode='I2'
'''
cursor.execute(sqlTablaTemporal)

In [55]:
#Porcentaje de licitaciones LE y CO que dieron menos de 5 días o 10 días
sqlInd32 = '''
SELECT Year_Publicacion, rbhEnterprise, sum(Menos_Plazo_30) AS 'N_Licitaciones_Menos30', count(Menos_Plazo_30) 'N_Licitaciones',
100*sum(Menos_Plazo_30)/count(Menos_Plazo_30) AS 'Porc_MenosPlazo_30'
FROM #Licitaciones_Fechas_Indicador_30
WHERE rpsAbbreviationCode='LR' OR rpsAbbreviationCode='I2'
GROUP BY rbhEnterprise,Year_Publicacion
ORDER BY rbhEnterprise, Year_Publicacion
'''
ind32 = pd.read_sql(sqlInd32, cnxn)

# guardamos en la tabla
ind32.to_sql(con=engine, name='indicador32', if_exists='replace', index=False)

In [56]:
# Cerramos la conexión
engine.dispose()
cnxn.close()