In [1]:
### Imports necesarios
import pyodbc #odbc para sqlserver
import time #librería necesaria para medir el tiempo de ejecución 
import datetime
import pandas as pd
import numpy as np
from functools import reduce

# Carga de datos en MySQL
from sqlalchemy import create_engine
import pymysql
import os

user = os.environ['chcprocuser']
passw = os.environ['chcprocpass']
server = os.environ['chcprocserver']
db = os.environ['chcprocdb']

# Inicio del "cronómetro"
tInicio = time.time()

# Apertura la conexión a SQL SERVER
cnxn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER='+server+';DATABASE='+db+';UID='+user+';PWD='+passw)

# Apertura la conexión a MYSQL
engine = create_engine('mysql+pymysql://server:server@192.168.2.2:3306/espaciopublico', echo = False)



cursor = cnxn.cursor()

# Envío de las querys y lectura de los resultados
# Tabla 1
sqlLicitaciones_Preguntas = '''
SELECT DISTINCT rbhEnterprise, rbhCode, rbhExternalCode, year(FEC.rbdOpeningDate) AS 'Year_Publicacion', 
CASE WHEN ([biqID] IS NULL AND A.[Id] IS NULL) THEN 'Sin Preguntas'
ELSE 'Con Preguntas' END AS 'Preguntas',
[biqID],
CASE WHEN ([biqText] IS NOT NULL OR [biqText]<>'') AND ([rswText] IS NULL OR [rswText]='') THEN 1
ELSE 0 END AS 'No_Responde_Preguntas',
A.[Id] AS 'ID_Pregunta',
CASE WHEN (A.TextoForo IS NOT NULL OR cast(A.TextoForo as nvarchar(max))<>'') AND (B.TextoForo IS NULL OR cast(B.TextoForo as nvarchar(max))='') THEN 1
ELSE 0 END AS 'No_Responde_Preguntas_2',
[biqText] AS [biqText], [rswText] AS [rswText],  --DISTINCT en la organization es por si se hizo más de una oferta. Por ejemplo: 2712-91-LE12.
cast(A.TextoForo as nvarchar(max)) AS TextoForo_PRO, cast(B.TextoForo as nvarchar(max)) AS TextoForo_COM
INTO #Licitaciones_Preguntas
FROM DCCPProcurement.dbo.prcRFBHeader AS LC
INNER JOIN [DCCPProcurement].[dbo].[prcBIDQuote] AS OFE
ON rbhCode=bidRFBCode
INNER JOIN DCCPProcurement.dbo.prcRFBDate AS FEC
ON LC.rbhCode = FEC.rbdRFBCode
LEFT JOIN [DCCPProcurement].[dbo].[prcBIDQuestion] AS PRE
ON LC.rbhCode = [biqRFBCode]
LEFT JOIN [DCCPProcurement].[dbo].[prcRFBAnswer] AS RES
ON [biqRFBCode]=[rswRFBCode] AND [biqID]=[rswbiqID]
LEFT JOIN [DCCPForo].[dbo].[ForoLicitacionProveedor] AS A
ON LC.rbhCode = A.[LicitacionId]
LEFT JOIN [DCCPForo].[dbo].[ForoLicitacionComprador] AS B
ON A.[Id]=B.[ForoLicitacionProveedorId]
WHERE [rbhEnterprise]<>''
AND year(FEC.rbdOpeningDate)>=2019 AND year(FEC.rbdOpeningDate)<=2020
AND rbhDocumentStatus>=5 
AND bidDocumentStatus IN (3, 4, 5) 
ORDER BY rbhEnterprise, rbhExternalCode
'''
cursor.execute(sqlLicitaciones_Preguntas)

# Tabla 2 con número de oferentes por licitación: 
# Todos los Organismos Públicos

sqlOrganismo_Licitacion_Ofertas = '''
SELECT rbhEnterprise, rbhCode, rbhExternalCode, year(FEC.rbdOpeningDate) AS 'Year_Publicacion', count(DISTINCT bidOrganization) AS 'N_Ofertas' --DISTINCT en la organization es por si se hizo más de una oferta. Por ejemplo: 2712-91-LE12.
INTO #Organismo_Licitacion_Ofertas
FROM DCCPProcurement.dbo.prcRFBHeader AS LC
INNER JOIN [DCCPProcurement].[dbo].[prcBIDQuote] AS OFE
ON rbhCode=bidRFBCode
INNER JOIN DCCPProcurement.dbo.prcRFBDate AS FEC
ON LC.rbhCode = FEC.rbdRFBCode
WHERE [rbhEnterprise]<>''
AND year(FEC.rbdOpeningDate)>=2018 AND year(FEC.rbdOpeningDate)<=2020
AND rbhDocumentStatus>=5 --CONDICIÓN PARA NO CONSIDERAR LICITACIONES QUE AÚN NO SE PUBLICAN
AND bidDocumentStatus IN (3, 4, 5) --CONDICIÓN PARA NO CONSIDERAR OFERTAS INGRESAS, GUARDADAS Y TEMPORALES
GROUP BY rbhEnterprise, rbhCode, rbhExternalCode, year(FEC.rbdOpeningDate)
ORDER BY rbhEnterprise
'''
cursor.execute(sqlOrganismo_Licitacion_Ofertas)


# Tabla 3 con número de oferentes y número de ofertas por organismo público: 
# Todos los Organismos Públicos

sqlOrganismo_Proveedor_Ofertas = '''
SELECT rbhEnterprise, bidOrganization, count(DISTINCT rbhCode) AS 'N_Ofertas_Proveedor', year(FEC.rbdOpeningDate) AS 'Year_Publicacion'
INTO #Organismo_Proveedor_Ofertas
FROM DCCPProcurement.dbo.prcRFBHeader AS LC
INNER JOIN [DCCPProcurement].[dbo].[prcBIDQuote] AS OFE
ON rbhCode=bidRFBCode
INNER JOIN DCCPProcurement.dbo.prcRFBDate AS FEC
ON LC.rbhCode = FEC.rbdRFBCode
WHERE [rbhEnterprise]<>''
AND year(FEC.rbdOpeningDate)>=2019 AND year(FEC.rbdOpeningDate)<=2020
AND rbhDocumentStatus>=5 --CONDICIÓN PARA NO CONSIDERAR LICITACIONES QUE AÚN NO SE PUBLICAN
AND bidDocumentStatus IN (3, 4, 5) --CONDICIÓN PARA NO CONSIDERAR OFERTAS INGRESAS, GUARDADAS Y TEMPORALES
GROUP BY rbhEnterprise, bidOrganization, year(FEC.rbdOpeningDate)
ORDER BY rbhEnterprise, count(DISTINCT rbhCode), year(FEC.rbdOpeningDate)
'''
cursor.execute(sqlOrganismo_Proveedor_Ofertas)



# Tabla 4 con número de ganadores por organismo público: 
# Todos los Organismos Públicos

sqlOrganismo_Proveedor_Ganadores = '''
SELECT rbhEnterprise, bidOrganization, count(DISTINCT rbhCode) AS 'N_Ganadores_Proveedor', year(FEC.rbdOpeningDate) AS 'Year_Publicacion'
INTO #Organismo_Proveedor_Ganadores
FROM DCCPProcurement.dbo.prcRFBHeader AS LC
INNER JOIN [DCCPProcurement].[dbo].[prcBIDQuote] AS OFE
ON rbhCode=bidRFBCode
INNER JOIN DCCPProcurement.dbo.prcRFBDate AS FEC
ON LC.rbhCode = FEC.rbdRFBCode
WHERE [rbhEnterprise]<>''
AND year(FEC.rbdOpeningDate)>=2019 AND year(FEC.rbdOpeningDate)<=2020
AND rbhDocumentStatus>=5 --CONDICIÓN PARA NO CONSIDERAR LICITACIONES QUE AÚN NO SE PUBLICAN
AND bidDocumentStatus IN (3, 4, 5) --CONDICIÓN PARA NO CONSIDERAR OFERTAS INGRESAS, GUARDADAS Y TEMPORALES
AND [bidIsAwarded]=1
GROUP BY rbhEnterprise, bidOrganization, year(FEC.rbdOpeningDate)
ORDER BY rbhEnterprise, count(DISTINCT bidOrganization), year(FEC.rbdOpeningDate)
'''
cursor.execute(sqlOrganismo_Proveedor_Ganadores)


# Tabla 5 con número de ganadores por licitación: 
# Todos los Organismos Públicos

sqlOrganismo_Ganadores_Licitacion = '''
SELECT rbhEnterprise, rbhCode, rbhExternalCode, year(FEC.rbdOpeningDate) AS 'Year_Publicacion' , count(DISTINCT bidOrganization) AS 'N_Ganadores_Licitacion'
INTO #Organismo_Ganadores_Licitacion
FROM DCCPProcurement.dbo.prcRFBHeader AS LC
INNER JOIN [DCCPProcurement].[dbo].[prcBIDQuote] AS OFE
ON rbhCode=bidRFBCode
INNER JOIN DCCPProcurement.dbo.prcRFBDate AS FEC
ON LC.rbhCode = FEC.rbdRFBCode
WHERE [rbhEnterprise]<>''
AND year(FEC.rbdOpeningDate)>=2019 AND year(FEC.rbdOpeningDate)<=2020
AND rbhDocumentStatus>=5 --CONDICIÓN PARA NO CONSIDERAR LICITACIONES QUE AÚN NO SE PUBLICAN
AND bidDocumentStatus IN (3, 4, 5) --CONDICIÓN PARA NO CONSIDERAR OFERTAS INGRESAS, GUARDADAS Y TEMPORALES
AND [bidIsAwarded]=1
GROUP BY rbhEnterprise, rbhCode, rbhExternalCode, year(FEC.rbdOpeningDate)
ORDER BY rbhEnterprise
'''
cursor.execute(sqlOrganismo_Ganadores_Licitacion)


# Tabla 7 con documentos adjuntos por licitación: 
# Todos los Organismos Públicos

sqlAdjuntos_Licitacion = '''
SELECT DISTINCT rbhEnterprise, rbhCode, year(FEC.rbdOpeningDate) AS 'Year_Publicacion',
COUNT(DISTINCT CASE WHEN AT.[atcIsActive]=1 AND ((AT.atcSourceFileName LIKE '%bases%') or (AT.atcDescription LIKE '%bases%')) then 1 ELSE NULL END) 'bases_licitacion', --
COUNT(DISTINCT CASE WHEN AT.[atcIsActive]=1 AND (((AT.atcSourceFileName LIKE '%seleccion%') OR (AT.atcDescription LIKE '%seleccion%')) OR ((AT.atcSourceFileName LIKE '%evaluacion%') OR (AT.atcDescription LIKE '%evaluacion%')) OR (((AT.atcSourceFileName LIKE '%acta%') and (AT.atcSourceFileName LIKE '%eval%')) or ((AT.atcSourceFileName LIKE '%acta%') and (AT.atcSourceFileName LIKE '%eval%'))) OR (((AT.atcSourceFileName LIKE '%cuadro%') and (atcSourceFileName LIKE '%eval%')) or ((atcSourceFileName LIKE '%cuadro%') and (atcSourceFileName LIKE '%eval%'))) OR (((atcSourceFileName LIKE '%cuadro%') and (atcSourceFileName LIKE '%comp%')) or ((atcSourceFileName LIKE '%cuadro%') and (atcSourceFileName LIKE '%comp%'))))  then 1 ELSE NULL END) 'acta_evaluacíon',
COUNT(DISTINCT CASE WHEN AT.[atcIsActive]=1 AND (((AT.atcSourceFileName LIKE '%resol%') OR (AT.atcDescription LIKE '%resol%')) OR ((AT.atcSourceFileName LIKE '%adjudica%') OR (AT.atcDescription LIKE '%adjudica%')) OR (((AT.atcSourceFileName LIKE '%res%') and (AT.atcSourceFileName LIKE '%adj%')) or ((AT.atcSourceFileName LIKE '%res%') and (AT.atcSourceFileName LIKE '%adj%'))) OR (((AT.atcSourceFileName LIKE '%decre%') and (atcSourceFileName LIKE '%adj%')) or ((atcSourceFileName LIKE '%decre%') and (atcSourceFileName LIKE '%adj%')))) then 1 ELSE NULL END) 'resolucion_adjudicacion'
INTO #Adjuntos_Licitacion
FROM DCCPProcurement.dbo.prcRFBHeader AS LC
INNER JOIN [DCCPProcurement].[dbo].[prcBIDQuote] AS OFE
ON rbhCode=bidRFBCode
INNER JOIN DCCPProcurement.dbo.prcRFBDate AS FEC
ON LC.rbhCode = FEC.rbdRFBCode
LEFT JOIN DCCPPlatform.dbo.gblAttachment AS AT 
ON LC.rbhCode = AT.actDocumentNumber
WHERE [rbhEnterprise]<>''
AND year(FEC.rbdOpeningDate)>=2019 AND year(FEC.rbdOpeningDate)<=2020
AND rbhDocumentStatus>=5 --CONDICIÓN PARA NO CONSIDERAR LICITACIONES QUE AÚN NO SE PUBLICAN
AND bidDocumentStatus IN (3, 4, 5) --CONDICIÓN PARA NO CONSIDERAR OFERTAS INGRESAS, GUARDADAS Y TEMPORALES
GROUP BY LC.rbhEnterprise, LC.rbhCode, year(FEC.rbdOpeningDate) -- Distintas filas
ORDER BY LC.rbhEnterprise, rbhCode
'''
cursor.execute(sqlAdjuntos_Licitacion)


# Tabla 8 con documentos adjuntos por licitación: 
# Todos los Organismos Públicos

sqlLicitaciones_Fechas = '''
SELECT DISTINCT rbhEnterprise, rbhCode, rbhExternalCode, rbhProcessSubType, rpsAbbreviationCode, FEC.rbdOpeningDate,FEC.rbdTechnicalBidReception, year(FEC.rbdOpeningDate) AS 'Year_Publicacion', DATEDIFF(DAY,FEC.rbdOpeningDate,FEC.rbdTechnicalBidReception) 'dias'
INTO #Licitaciones_Fechas
FROM DCCPProcurement.dbo.prcRFBHeader AS LC
INNER JOIN [DCCPProcurement].[dbo].[prcBIDQuote] AS OFE
ON rbhCode=bidRFBCode
INNER JOIN DCCPProcurement.dbo.prcRFBDate AS FEC
ON LC.rbhCode = FEC.rbdRFBCode 
LEFT JOIN [DCCPProcurement].[dbo].[prcRFBProcessSubType]
ON rbhProcessSubType=rpsCode
WHERE [rbhEnterprise]<>''
AND year(FEC.rbdOpeningDate)>=2019 AND year(FEC.rbdOpeningDate)<=2020
AND rbhDocumentStatus>=5 --CONDICIÓN PARA NO CONSIDERAR LICITACIONES QUE AÚN NO SE PUBLICAN
AND bidDocumentStatus IN (3, 4, 5) --CONDICIÓN PARA NO CONSIDERAR OFERTAS INGRESAS, GUARDADAS Y TEMPORALES
ORDER BY LC.rbhEnterprise, rbhCode
'''
cursor.execute(sqlLicitaciones_Fechas)

In [2]:
# Tabla 6 con número de ganadores por licitación (las desiertas no aparecen): 
# Todos los Organismos Públicos

sqlLicitacion_Contratos = '''
SELECT rbhEnterprise, rbhCode, rbhExternalCode, year(FEC.rbdOpeningDate) AS 'Year_Publicacion', count(DISTINCT bidOrganization) AS 'N_Ganadores_Licitacion',  CC.[conid], [conestadoactual], [bidOrganization], [orgcodigo] --DISTINCT en la organization es por si se hizo más de una oferta. Por ejemplo: 2712-91-LE12.
INTO #Licitacion_Contratos
FROM DCCPProcurement.dbo.prcRFBHeader AS LC
INNER JOIN [DCCPProcurement].[dbo].[prcBIDQuote] AS OFE
ON rbhCode=bidRFBCode
INNER JOIN DCCPProcurement.dbo.prcRFBDate AS FEC
ON LC.rbhCode = FEC.rbdRFBCode
INNER JOIN [DCCPPlatform].[dbo].[gblOrganization] AS ORG
ON [bidOrganization]=orgCode
LEFT JOIN [DCCP_SGC].[dbo].[SGC_Contrato] AS CC
ON rbhCode=[conrbhcode] AND [orgTaxID] COLLATE SQL_Latin1_General_CP1_CI_AS = [conrutproveedor] COLLATE SQL_Latin1_General_CP1_CI_AS
INNER JOIN [DCCP_SGC].[dbo].[SGC_Adjuntos] AS ADJ
ON CC.[conid]=ADJ.[conid]
INNER JOIN [DCCPPlatform].[dbo].[gblAttachment]
ON [gblattachmentid] COLLATE SQL_Latin1_General_CP1_CI_AS = [atcCode] COLLATE SQL_Latin1_General_CP1_CI_AS
WHERE [rbhEnterprise]<>''
AND year(FEC.rbdOpeningDate)>=2019 AND year(FEC.rbdOpeningDate)<=2020
AND rbhDocumentStatus>=5 --CONDICIÓN PARA NO CONSIDERAR LICITACIONES QUE AÚN NO SE PUBLICAN
AND bidDocumentStatus IN (3, 4, 5) --CONDICIÓN PARA NO CONSIDERAR OFERTAS INGRESAS, GUARDADAS Y TEMPORALES
AND [bidIsAwarded]=1
AND [conestadoactual]='PUBLICADO'
AND [orgcodigo] <>[conorgid]
AND ADJ.[adjtipo]='Contrato'
AND [atcIsActive]=1
GROUP BY rbhEnterprise, rbhCode, rbhExternalCode, year(FEC.rbdOpeningDate), CC.[conid], [conestadoactual], [bidOrganization], [orgcodigo]
ORDER BY rbhEnterprise, year(FEC.rbdOpeningDate), rbhExternalCode
'''
cursor.execute(sqlLicitacion_Contratos)

## 23) Porcentaje de licitaciones sin respuesta a todas las preguntas del foro.

In [3]:
#Porcentaje de licitaciones sin juntas de aclaraciones
sqlInd23_1 = '''
SELECT rbhEnterprise, rbhExternalCode, Year_Publicacion, sum(No_Responde_Preguntas) AS 'Sin_Contestar_1', sum(No_Responde_Preguntas_2) AS 'Sin_Contestar_2', 
(sum(No_Responde_Preguntas)+sum(No_Responde_Preguntas_2)) AS 'Sin_Contestar_Total',
CASE WHEN (sum(No_Responde_Preguntas)+sum(No_Responde_Preguntas_2))=0 THEN 0
ELSE 1 END AS 'Dummy_Sin_Contestar'
INTO #Licitaciones_ConPreguntas_SinContestar
FROM #Licitaciones_Preguntas
WHERE Preguntas='Con Preguntas'
GROUP BY rbhEnterprise, rbhExternalCode, Year_Publicacion
ORDER BY rbhEnterprise, rbhExternalCode, Year_Publicacion
'''
cursor.execute(sqlInd23_1)

#Calculando el porcentaje de licitaciones sin respuesta a las preguntas
sqlInd23 = '''
SELECT rbhEnterprise, Year_Publicacion, sum(Dummy_Sin_Contestar) a, count(Dummy_Sin_Contestar) b,
1.0*sum(Dummy_Sin_Contestar)/count(Dummy_Sin_Contestar) * 100 AS 'Porc_Sin_Respuesta'
FROM #Licitaciones_ConPreguntas_SinContestar
GROUP BY rbhEnterprise, Year_Publicacion
ORDER BY rbhEnterprise, Year_Publicacion
'''
ind23 = pd.read_sql(sqlInd23, cnxn)
ind23 = ind23.drop(columns={'a', 'b'})

# guardamos en la tabla
ind23.to_sql(con=engine, name='indicador23', if_exists='replace', index=False)
ind23.head(2)

  rbhEnterprise  Year_Publicacion  Porc_Sin_Respuesta
0        100049              2019            5.376344
1        100049              2020           17.460317

## 3) Cambio en el promedio de participantes por procedimiento

In [4]:
sqlInd3_18 = '''
--Promedio de oferentes por procedimiento en 2018
SELECT rbhEnterprise, Year_Publicacion,
avg(1.0*N_Ofertas) AS 'Promedio_Ofertas_2018'
INTO #Promedio_Ofertas_2018
FROM #Organismo_Licitacion_Ofertas
WHERE Year_Publicacion=2018
GROUP BY rbhEnterprise, Year_Publicacion
ORDER BY rbhEnterprise ASC, Year_Publicacion ASC
'''
cursor.execute(sqlInd3_18)

sqlInd3_19 = '''
--Promedio de oferentes por procedimiento en 2019
SELECT rbhEnterprise, Year_Publicacion,
avg(1.0*N_Ofertas) AS 'Promedio_Ofertas_2019'
INTO #Promedio_Ofertas_2019
FROM #Organismo_Licitacion_Ofertas
WHERE Year_Publicacion=2019
GROUP BY rbhEnterprise, Year_Publicacion
ORDER BY rbhEnterprise ASC, Year_Publicacion ASC
'''
cursor.execute(sqlInd3_19)

sqlInd3_20 = '''
--Promedio de oferentes por procedimiento en 2020
SELECT rbhEnterprise, Year_Publicacion,
avg(1.0*N_Ofertas) AS 'Promedio_Ofertas_2020'
INTO #Promedio_Ofertas_2020
FROM #Organismo_Licitacion_Ofertas
WHERE Year_Publicacion=2020
GROUP BY rbhEnterprise, Year_Publicacion
ORDER BY rbhEnterprise ASC, Year_Publicacion ASC
'''
cursor.execute(sqlInd3_20)

sqlInd3 = '''
SELECT DISTINCT A.rbhEnterprise, 
Promedio_Ofertas_2018,
Promedio_Ofertas_2019,
Promedio_Ofertas_2020
FROM #Organismo_Licitacion_Ofertas AS A
LEFT JOIN #Promedio_Ofertas_2018 AS B 
ON A.rbhEnterprise=B.rbhEnterprise
LEFT JOIN #Promedio_Ofertas_2019 AS G
ON A.rbhEnterprise=G.rbhEnterprise
LEFT JOIN #Promedio_Ofertas_2020 AS H
ON A.rbhEnterprise=H.rbhEnterprise
'''
ind3 = pd.read_sql(sqlInd3, cnxn)

ind3F = pd.melt(ind3,id_vars=['rbhEnterprise'],var_name='year', value_name='PromedioOferentes')
ind3F.loc[ind3F['year'] == 'Promedio_Ofertas_2018', 'Año'] = 2018
ind3F.loc[ind3F['year'] == 'Promedio_Ofertas_2019', 'Año'] = 2019
ind3F.loc[ind3F['year'] == 'Promedio_Ofertas_2020', 'Año'] = 2020
ind3F = ind3F.drop(columns = {'year'})
ind3F = ind3F.sort_values('Año')
ind3F['PromedioOferentes'] = ind3F.groupby(['rbhEnterprise'])['PromedioOferentes'].diff()

# guardamos en la tabla
ind3F.to_sql(con=engine, name='indicador3', if_exists='replace', index=False)
ind3F.head(2)

    rbhEnterprise  PromedioOferentes     Año
0          100049                NaN  2018.0
588          6928                NaN  2018.0

## 17. Porcentaje de licitaciones públicas y privadas sin ningún documento obligatorio publicado
## 18. Promedio del porcentaje de incumplimiento en la publicación de documentos obligatorios

In [5]:
#sql = 'drop table #Aux_Contratos_Licitacion_Sin_Documento'
#cursor.execute(sql)

sqlInd178_1 = '''
--N° de Contratos por licitación
SELECT rbhEnterprise, rbhCode, rbhExternalCode, Year_Publicacion, count(conid) AS 'N_Contratos_Licitacion'
INTO #Aux_Contratos_Licitacion_Sin_Documento
FROM #Licitacion_Contratos
GROUP BY rbhEnterprise, rbhCode, Year_Publicacion, rbhExternalCode
'''
cursor.execute(sqlInd178_1)


sqlInd178_2 = '''
--Porcentaje de Contratos por licitación
SELECT A.rbhEnterprise, A.rbhExternalCode, A.rbhCode, A.Year_Publicacion,
CASE WHEN N_Contratos_Licitacion IS NULL THEN 1.0*0/N_Ganadores_Licitacion
 ELSE 1.0*N_Contratos_Licitacion/N_Ganadores_Licitacion END AS 'Porc_Contratos_Licitacion',
CASE WHEN N_Contratos_Licitacion=N_Ganadores_Licitacion THEN 1
 ELSE 0 END AS 'Dummy_Cumplimiento_Contrato'
INTO #Aux_Licitacion_Porc_Contratos_Licitacion_Sin_Documento
FROM #Organismo_Ganadores_Licitacion AS A
LEFT JOIN #Aux_Contratos_Licitacion_Sin_Documento AS B
ON A.rbhEnterprise=B.rbhEnterprise AND A.rbhCode=B.rbhCode AND A.rbhExternalCode=B.rbhExternalCode
ORDER BY A.rbhEnterprise, A.rbhExternalCode
'''
cursor.execute(sqlInd178_2)

sqlInd178_3 = '''
--Combinando los indicadores de cada documento obligatorio
SELECT A.rbhEnterprise, A.rbhCode, B.rbhExternalCode, A.bases_licitacion, A.acta_evaluacíon, A.resolucion_adjudicacion, B.Dummy_Cumplimiento_Contrato, A.Year_Publicacion,
CASE WHEN (A.bases_licitacion+A.acta_evaluacíon+A.resolucion_adjudicacion+B.Dummy_Cumplimiento_Contrato)=0 THEN 1
ELSE 0 END AS 'Dummy_Sin_Doc',
(1-1.0*(A.bases_licitacion+A.acta_evaluacíon+A.resolucion_adjudicacion+B.Dummy_Cumplimiento_Contrato)/4) AS 'Porc_Incum'
INTO #Sin_Documentos_Obligatorios
FROM #Adjuntos_Licitacion AS A
INNER JOIN #Aux_Licitacion_Porc_Contratos_Licitacion_Sin_Documento AS B
ON A.rbhCode=B.rbhCode
'''
cursor.execute(sqlInd178_3)


sqlInd17 = '''
--Porcentaje de licitaciones sin documentos
SELECT rbhEnterprise, Year_Publicacion,
sum(Dummy_Sin_Doc*1.0)/count(Dummy_Sin_Doc)*100 'Porc_Sin_Doc'
FROM #Sin_Documentos_Obligatorios 
GROUP BY rbhEnterprise, Year_Publicacion
ORDER BY rbhEnterprise
'''
ind17 = pd.read_sql(sqlInd17, cnxn)
ind17.to_sql(con=engine, name='indicador17', if_exists='replace', index=False)
ind17.head(2)

sqlInd18 = '''
--Promedio porcentaje de incumplimiento
SELECT rbhEnterprise, Year_Publicacion, 
sum(Porc_Incum*1.0)/count(Porc_Incum)*100 'Prom_Porc_Incump'
FROM #Sin_Documentos_Obligatorios 
GROUP BY rbhEnterprise , Year_Publicacion
ORDER BY rbhEnterprise
'''
ind18 = pd.read_sql(sqlInd18, cnxn)

# guardamos en la tabla
ind18.to_sql(con=engine, name='indicador18', if_exists='replace', index=False)
ind18.head(2)

  rbhEnterprise  Year_Publicacion  Prom_Porc_Incump
0        100049              2020          43.40796
1        100049              2019          51.33587

## 26. Porcentaje de procedimientos sin contrato

In [6]:
#sql = 'drop table #Aux_Contratos_Licitacion'
#cursor.execute(sql)

sqlInd26_1 = '''
--N° de Contratos por licitación
SELECT rbhEnterprise, rbhCode, rbhExternalCode, count(conid) AS 'N_Contratos_Licitacion', Year_Publicacion
INTO #Aux_Contratos_Licitacion
FROM #Licitacion_Contratos
GROUP BY rbhEnterprise, rbhCode, rbhExternalCode, Year_Publicacion
'''
cursor.execute(sqlInd26_1)

sqlInd26_2 = '''
--Porcentaje de Contratos por licitación
SELECT A.rbhEnterprise, A.rbhExternalCode, A.Year_Publicacion,
CASE WHEN N_Contratos_Licitacion IS NULL THEN 1.0*0/N_Ganadores_Licitacion
ELSE 1.0*N_Contratos_Licitacion/N_Ganadores_Licitacion END AS 'Porc_Contratos_Licitacion',
CASE WHEN N_Contratos_Licitacion=N_Ganadores_Licitacion THEN 1
ELSE 0 END AS 'Dummy_Cumplimiento_Contrato'
INTO #Aux_Licitacion_Porc_Contratos_Licitacion
FROM #Organismo_Ganadores_Licitacion AS A
LEFT JOIN #Aux_Contratos_Licitacion AS B
ON A.rbhEnterprise=B.rbhEnterprise AND A.rbhCode=B.rbhCode AND A.rbhExternalCode=B.rbhExternalCode
ORDER BY A.rbhEnterprise, A.rbhExternalCode
'''
cursor.execute(sqlInd26_2)

sqlInd26 = '''
--Porcentaje de Contratos por licitación
SELECT rbhEnterprise, Year_Publicacion,
sum(Dummy_Cumplimiento_Contrato) AS 'N_CUMPLIMIENTO_CONTRATO',
count(Dummy_Cumplimiento_Contrato) AS 'N_LICITACIONES',
(1.0-1.0*sum(Dummy_Cumplimiento_Contrato)/count(Dummy_Cumplimiento_Contrato)) * 100 AS 'PORC_SIN_CONTRATO'
FROM #Aux_Licitacion_Porc_Contratos_Licitacion
GROUP BY rbhEnterprise, Year_Publicacion
ORDER BY rbhEnterprise
'''
ind26 = pd.read_sql(sqlInd26, cnxn)

ind26 = ind26.drop(columns=['N_CUMPLIMIENTO_CONTRATO', 'N_LICITACIONES'])

# guardamos en la tabla
ind26.to_sql(con=engine, name='indicador26', if_exists='replace', index=False)
ind26.head(2)

  rbhEnterprise  Year_Publicacion  PORC_SIN_CONTRATO
0        100049              2020              100.0
1        100049              2019              100.0

## 27. Cambio en el porcentaje de contratos publicados por procedimiento

In [7]:
sqlInd27_1 = '''
--N° de Contratos por licitación
SELECT rbhEnterprise, rbhCode, rbhExternalCode, count(conid) AS 'N_Contratos_Licitacion'
INTO #Aux_Contratos_Licitacion_Año
FROM #Licitacion_Contratos
GROUP BY rbhEnterprise, rbhCode, rbhExternalCode
'''
cursor.execute(sqlInd27_1)

sqlInd27_2 = '''
--Porcentaje de Contratos por licitación
SELECT A.rbhEnterprise, A.rbhExternalCode, A.Year_Publicacion,
CASE WHEN N_Contratos_Licitacion IS NULL THEN 1.0*0/N_Ganadores_Licitacion
ELSE 1.0*N_Contratos_Licitacion/N_Ganadores_Licitacion END AS 'Porc_Contratos_Licitacion',
CASE WHEN N_Contratos_Licitacion=N_Ganadores_Licitacion THEN 1
ELSE 0 END AS 'Dummy_Cumplimiento_Contrato'
INTO #Aux_Licitacion_Porc_Contratos_Licitacion_Año
FROM #Organismo_Ganadores_Licitacion AS A
LEFT JOIN #Aux_Contratos_Licitacion_Año AS B
ON A.rbhEnterprise=B.rbhEnterprise AND A.rbhCode=B.rbhCode AND A.rbhExternalCode=B.rbhExternalCode
ORDER BY A.rbhEnterprise, A.rbhExternalCode
'''
cursor.execute(sqlInd27_2)


sqlInd27_3 = '''
--Porcentaje de Contratos por licitación en 2019
SELECT rbhEnterprise,
sum(Dummy_Cumplimiento_Contrato) AS 'N_CUMPLIMIENTO_CONTRATO',
count(Dummy_Cumplimiento_Contrato) AS 'N_LICITACIONES',
(1.0-1.0*sum(Dummy_Cumplimiento_Contrato)/count(Dummy_Cumplimiento_Contrato)) * 100 AS 'PORC_SIN_CONTRATO_2019'
INTO #Cumplimiento_Contratos_2019
FROM #Aux_Licitacion_Porc_Contratos_Licitacion_Año
WHERE Year_Publicacion=2019
GROUP BY rbhEnterprise
ORDER BY rbhEnterprise
'''
cursor.execute(sqlInd27_3)

sqlInd27_3 = '''
--Porcentaje de Contratos por licitación en 2020
SELECT rbhEnterprise,
sum(Dummy_Cumplimiento_Contrato) AS 'N_CUMPLIMIENTO_CONTRATO',
count(Dummy_Cumplimiento_Contrato) AS 'N_LICITACIONES',
(1.0-1.0*sum(Dummy_Cumplimiento_Contrato)/count(Dummy_Cumplimiento_Contrato)) * 100 AS 'PORC_SIN_CONTRATO_2020'
INTO #Cumplimiento_Contratos_2020
FROM #Aux_Licitacion_Porc_Contratos_Licitacion_Año
WHERE Year_Publicacion=2020
GROUP BY rbhEnterprise
ORDER BY rbhEnterprise
'''
cursor.execute(sqlInd27_3)

sqlInd27 = '''
--Promedio de participantes por organismo público
SELECT DISTINCT A.rbhEnterprise, 
PORC_SIN_CONTRATO_2019,
PORC_SIN_CONTRATO_2020
FROM #Organismo_Ganadores_Licitacion AS A
LEFT JOIN #Cumplimiento_Contratos_2019 AS B 
ON A.rbhEnterprise=B.rbhEnterprise
LEFT JOIN #Cumplimiento_Contratos_2020 AS C 
ON A.rbhEnterprise=C.rbhEnterprise
'''
ind27 = pd.read_sql(sqlInd27, cnxn)


ind27F = pd.melt(ind27,id_vars=['rbhEnterprise'],var_name='year', value_name='PorcentajeSinContrato')
ind27F.loc[ind27F['year'] == 'PORC_SIN_CONTRATO_2019', 'Año'] = 2019
ind27F.loc[ind27F['year'] == 'PORC_SIN_CONTRATO_2020', 'Año'] = 2020
ind27F = ind27F.drop(columns = {'year'})
ind27F = ind27F.sort_values('Año')
ind27F['PorcentajeSinContrato'] = ind27F.groupby(['rbhEnterprise'])['PorcentajeSinContrato'].diff()

# guardamos en la tabla
ind27F.to_sql(con=engine, name='indicador27', if_exists='replace', index=False)
ind27F.head(2)

    rbhEnterprise  PorcentajeSinContrato     Año
0            6947                    NaN  2019.0
584          7179                    NaN  2019.0

## 28. Porcentaje de licitaciones públicas y privadas sin ningún documento obligatorio publicado

In [8]:
sqlInd28_1 = '''
--N° de Contratos por licitación
SELECT rbhEnterprise, rbhCode, rbhExternalCode, count(conid) AS 'N_Contratos_Licitacion', Year_Publicacion
INTO #Aux_Contratos_Licitacion_Sin_Documento_Norm
FROM #Licitacion_Contratos
GROUP BY rbhEnterprise, rbhCode, rbhExternalCode, Year_Publicacion
'''
cursor.execute(sqlInd28_1)

sqlInd28_2 = '''
--Porcentaje de Contratos por licitación
SELECT A.rbhEnterprise, A.Year_Publicacion, A.rbhExternalCode, A.rbhCode,
CASE WHEN N_Contratos_Licitacion IS NULL THEN 1.0*0/N_Ganadores_Licitacion
ELSE 1.0*N_Contratos_Licitacion/N_Ganadores_Licitacion END AS 'Porc_Contratos_Licitacion',
CASE WHEN N_Contratos_Licitacion=N_Ganadores_Licitacion THEN 1
ELSE 0 END AS 'Dummy_Cumplimiento_Contrato'
INTO #Aux_Licitacion_Porc_Contratos_Licitacion_Sin_Documento_Norm
FROM #Organismo_Ganadores_Licitacion AS A
LEFT JOIN #Aux_Contratos_Licitacion_Sin_Documento_Norm AS B
ON A.rbhEnterprise=B.rbhEnterprise AND A.rbhCode=B.rbhCode AND A.rbhExternalCode=B.rbhExternalCode
ORDER BY A.rbhEnterprise, A.rbhExternalCode
'''
cursor.execute(sqlInd28_2)

sqlInd28_3 = '''
--Combinando los indicadores de cada documento obligatorio
SELECT A.rbhEnterprise, A.Year_Publicacion, A.rbhCode, B.rbhExternalCode, A.bases_licitacion, A.acta_evaluacíon, A.resolucion_adjudicacion, B.Dummy_Cumplimiento_Contrato, 
CASE WHEN (A.bases_licitacion+A.acta_evaluacíon+A.resolucion_adjudicacion+B.Dummy_Cumplimiento_Contrato)<>4 THEN 1
ELSE 0 END AS 'Dummy_Norm'
INTO #Sin_Documentos_Obligatorios_Norm
FROM #Adjuntos_Licitacion AS A
INNER JOIN #Aux_Licitacion_Porc_Contratos_Licitacion_Sin_Documento AS B
ON A.rbhCode=B.rbhCode
'''
cursor.execute(sqlInd28_3)

sqlInd28 = '''
--Porcentaje de licitaciones que no cumplen la normativa
SELECT rbhEnterprise, Year_Publicacion, 
sum(Dummy_Norm*1.0)/count(Dummy_Norm) * 100 'Perc_Dummy_Norm'
FROM #Sin_Documentos_Obligatorios_Norm 
GROUP BY rbhEnterprise , Year_Publicacion
ORDER BY rbhEnterprise
'''
ind28 = pd.read_sql(sqlInd28, cnxn)

# guardamos en la tabla
ind28.to_sql(con=engine, name='indicador28', if_exists='replace', index=False)
ind28.head(2)

  rbhEnterprise  Year_Publicacion  Perc_Dummy_Norm
0        100049              2020            100.0
1        100049              2019            100.0

In [9]:
# Cerramos la conexión
engine.dispose()
cnxn.close()